
  <!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
 </head>   
<body>
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <% include partials/templates/header.ejs %>
</nav>
 <!-- Clients Section
    ==========================================-->
<div id="tf-clients" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2>Some of <strong>our Clients</strong></h2>
                <div class="line">
                    <hr>
                </div>
            </div>
            <div id="clients" class="owl-carousel owl-theme">
                <div class="item">
                    <img src="img/client/01.png">
                </div>
                <div class="item">
                    <img src="img/client/02.png">
                </div>
                <div class="item">
                    <img src="img/client/03.png">
                </div>
                <div class="item">
                    <img src="img/client/04.png">
                </div>
                <div class="item">
                    <img src="img/client/05.png">
                </div>
                <div class="item">
                    <img src="img/client/06.png">
                </div>
                <div class="item">
                    <img src="img/client/07.png">
                </div>
            </div>

        </div>
    </div>
</div>
<% include partials/templates/footer.ejs %>
</body>
</html>
