<!DOCTYPE html>
<html>
  <head>
    <% include partials/templates/head.ejs %>
 </head>  
  <body>
	<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
	<% include partials/templates/header.ejs %>
	</nav>
  	<% include partials/templates/footer.ejs %>
  </body>
</html>
