<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
 </head>   
<body>
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <% include partials/templates/header.ejs %>
</nav>
<!-- Testimonials Section
    ==========================================-->
<div id="tf-testimonials" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2><strong>Our clients’</strong> testimonials</h2>
                <div class="line">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="testimonial" class="owl-carousel owl-theme">
                        <div class="item">
                            <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
                            <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                        </div>

                        <div class="item">
                            <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
                            <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                        </div>

                        <div class="item">
                            <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
                            <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <% include partials/templates/footer.ejs %>
</body>
</html>

